@import '../../styles/variables';

.container {
  width: 70%;
  height: auto;
  margin: 25px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: $bgBase;
  border-radius: 5px;
  box-shadow: $boxShadow;
  transition: .5s;
}

.spinnerContainer {
  @extend .container;
  background-color: $bg;
  height: calc(100vh - 80px);
  justify-content: center;
}

.textInfo {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  & > * {
    margin: 0 0 4px 0;
  }
}

.title {
  display: flex;
  align-items: center;
}

.title__text {
  font-size: 20px;
  color: $primaryColor;
  margin: 0 10px 0 0;
}

.title__likes {
  margin-left: 5px;
  font-size: 12px;
}

.tags {
  display: flex;
}

.summary {
  font-size: 12px;
  color: $textColorSecondary;
}

.userInfo {
  display: flex;
  align-self: flex-start;
}

.userInfo__name {
  font-size: 18px;
  margin: 0;
}

.userInfo__date {
  font-size: 12px;
  color: $textColorSecondary;
}

.userInfo__avatar {
  width: 46px;
  height: 46px;
  margin-left: 5px;
  background: url("../../media/user.png") no-repeat 50%;
  border-radius: 50%;
}

.create {
  color: $successColor;
  border: 1px solid $successColor;
  border-radius: 5px;
  transition: .4s;

  &:hover {
    color: #fff;
    border: 1px solid $primaryColor;
    background: $primaryColor;
  }
}

.delete {
  border-radius: 5px;
  transition: .4s;
  margin-right: 10px;
}

.btns {
  margin-top: 10px;
}

.likeBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}