// Font
$fontFamily: 'Inter', sans-serif;
$fontSizeSm: 12px;
$fontSizeBase: 14px;
$fontSizeHeader: 18px;

// Colors
$headingColor: rgba(0, 0, 0, 0.85);
$textColor: rgba(0, 0, 0, 0.75);
$textColorSecondary: rgba(0, 0, 0, 0.5);
$disabledColor: rgba(0, 0, 0, 0.35);
$bg: #EBEEF3;
$bgBase: #FFFFFF;
$primaryColor: #1890FF;
$successColor: #52C41A;
$errorColor: #F5222D;

// Other
$boxShadow: 0px, 4px rgba(0, 0, 0, 0.15);
$borderRadius: 12px;
