@import '~antd/dist/antd.css';
@import "styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    background-color: $bg;
    color: $textColor;
}

.ant-pagination-options {
    display: none;
}

.ant-form-item {
    margin-top: 4px;
    margin-bottom: 12px;

    &:nth-child(9) {
        margin-bottom: 21px;
    }
}
